body{
    max-width:1280px;
    margin:0 auto;
    color:#636363;
}
/*----------header----------*/
.header{
    position:relative;
    z-index:20;
}
.header .top-line{
    background-color:#ffffff;
    width:100%;
    height:90px; 
    position:absolute;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
    box-shadow:0 2px 3px #C9C9C9;
}
.header .container{
    padding:0 10%;
    position:relative;
}
.header .logo{
    position:absolute;
    top:16px;
    z-index:1;
    left:10%;
}
.header .logo > a{
    outline:none;
}
.header .main-menu{
    font-size:17px;
    position:relative;
    margin-top:35px;
    margin-bottom:-90px;
    text-align:right;
}
.header .main-menu > ul > li{
    border:1px solid transparent;
    border-radius:4px;
    margin-left:5px;
    cursor:pointer;
}
.header .main-menu > ul > li.login{
    background-color:#de6d6e;
    background-image:url(../images/img_shape.png);
    background-repeat:no-repeat;
    background-position:11px 4px;
    border-color:#de6d6e;
    border-radius:4px;
    padding:0 10px 0 25px;
    margin-left:25px;
}
.header .main-menu > ul > li > a{
    line-height:25px;
    text-decoration:none;
    color:#7c7c7c;
    padding:0 5px;
    outline:none;
    text-shadow:1px 0 #b3aead;
}
.header .main-menu > ul > li.login > a{
    color:#ffffff;
    text-shadow:1px 0 #f0bbbb;
}
.header .main-menu > ul > li:hover{
    border:1px solid #a4a1a1;
}
.header .main-menu > ul > li.login:hover{
    background-color:#d16b6b;
    border-color:#d16b6b;
}
@media (max-width: 767px){
    .header .logo{
        width:100%;
        position:relative;
        text-align:center;
        top:0;
        left:0;
    }
    .header .main-menu{
        margin:0;
        text-align:center;
    }
}
/*----------banner----------*/
.banner{
    color:#ffffff;
    position:relative;
}
.banner .decor{
    width:155px;
    height:155px;
    position:absolute;
    top:39%;
    left:46%;
}
.banner .decor > div{
    background-color:#ffffff;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
    position:absolute;
}
.banner .decor > div:hover{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
}
.banner .decor > div.big{
    width:115px;
    height:115px;
    left:0;
    bottom:0;
}
.banner .decor > div.middle{
    width:95px;
    height:95px;
    right:5px;
    top:0;
}
.banner .decor > div.small{
    width:74px;
    height:75px;
    right:0;
    bottom:25px;
}
.banner .text{
    position:absolute;
    top:66%;
    width:100%;
}
.banner .text > b{
    font-size:70px;
}
.banner .text > p{
    font-size:25px;
}
@media (max-width: 1024px){
    .banner .decor{
        top:29%;
    }
    .banner .text{
        top:60%;
    }
}
@media (max-width: 767px){
    .banner .text{
        top:30%;
        width:100%;
    }
    .banner .text > b{
        font-size:35px;
    }
    .banner .text > p{
        font-size:14px;
    }
}
/*----------content---------*/
.content .container{
    padding:3% 9%;
}
.content h1{
    color:#404040;
    text-shadow:-1px 0 #bfbfbf;
}
.content p{
    text-shadow:-1px 0 #b6b6b6;
}
.content .visual-block{
    padding-top:4%;
    padding-bottom:2%;
}
.content .item{
    width:180px;
    height:180px;
    color:#ffffff;
    margin-top:30px;
    border-radius:50%;
}
.content .item > div.base-bg{
    padding-top:130px;
    font-size:17px;
    cursor:pointer;
    height:100%;
}
.content .item:hover > div.base-bg{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.content .item > div.text{
    display:none;
    font-size:12px;
    line-height:14px;
    margin-top:-133px;
    padding:0 20px;
}
.content .item:hover > div.text{
    display:block;
}
.content .blue{
    background-color:#4eb9f4;
}
.content .blue > div.base-bg{
    background:url(../images/img_ticket.png) center 42px no-repeat;
}
.content .green{
    background-color:#6fc125;
}
.content .green > div.base-bg{
    background:url(../images/img_camera.png) center 53px no-repeat;
}
.content .red{
    background-color:#ff5649;
}
.content .red > div.base-bg{
    background:url(../images/img_beer.png) 64px 40px no-repeat;
}
.content .orange{
    background-color:#e48f23;
}
.content .orange > div.base-bg{
    background:url(../images/img_device.png) center 50px no-repeat;
}
.content .shadow{
    border-bottom:1px solid #eeeeee;
    box-shadow:0 1px 3px #d7d7d7;
}
.content .news{
    padding-top:2%;
}
.content .article{
    margin-bottom:3%;
}
.content .article img{
    margin-top:20px;
}
/*----------footer----------*/
.footer{
    background:url(../images/bg_footer.png) repeat;
    color:#8b8b8b;
    text-shadow:1px 0 #545355;
    padding:28px 0;
}
.footer .bottom-menu .row{
    padding:0 0 0 10%;
}
.footer .bottom-menu h4{
    color:#adafae;
    text-shadow:none;
    margin-top:7px;
    margin-bottom:16px;
    font-size:20px;
}
.footer .bottom-menu ul > li{
    margin:0 0 2px;
}
.footer .bottom-menu ul > li > a{
    color:#8b8b8b;
    text-shadow:1px 0 #545355;
}
.footer .bottom-menu .social{
    margin-top:15px;
    margin-bottom:30px;
}
.footer .bottom-menu .social > div{
    float:left;
    background-image:url(../images/sprite_icons.png);
    background-repeat:no-repeat;
    width:54px;
    height:54px;
    margin:10px 25px 0 0;
    cursor:pointer;
}
.footer .bottom-menu .social > div:hover{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
}
/*--------------------------*/