/*--------------------fonts---------------------*/
@font-face {
  font-family:'fontIcons';
  src:url('../fonts/fontIcons.eot?');
  src:url('../fonts/fontIcons.eot?#iefix') format('embedded-opentype'),
      url('../fonts/fontIcons.woff?') format('woff'),
      url('../fonts/fontIcons.ttf?') format('truetype'),
      url('../fonts/fontIcons.svg?#fontIcons') format('svg');
  font-weight:normal;
  font-style:normal;
}
@font-face {
    font-family:'alteHaasGroteskRegular';
    src:url('altehaasgroteskregular-webfont.eot');
    src:url('../fonts/altehaasgroteskregular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/altehaasgroteskregular-webfont.woff?') format('woff'),
        url('../fonts/altehaasgroteskregular-webfont.ttf') format('truetype'),
        url('../fonts/altehaasgroteskregular-webfont.svg#alte_haas_groteskregular') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'alteHaasGroteskBold';
    src:url('../fonts/altehaasgroteskbold-webfont.eot');
    src:url('../fonts/altehaasgroteskbold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/altehaasgroteskbold-webfont.woff?') format('woff'),
        url('../fonts/altehaasgroteskbold-webfont.ttf') format('truetype'),
        url('../fonts/altehaasgroteskbold-webfont.svg#alte_haas_groteskbold') format('svg');
    font-weight:normal;
    font-style:normal;
}
/*--------------------common--------------------*/
html{
    font-size:100%;
}
body{
    margin:0;
    font-size:62.5%;
    color:#636363;
}
.wrap{
    max-width:1280px;
    margin:0 auto;
    position:relative;
}
[class*="icon-"]:before{
    font-family:"fontIcons";
    font-size:1.6em;
    line-height:1em;
    display:inline-block;
    vertical-align:top;
}
.icon-user:before{content:'\75';} /* 'u' */
.icon-share:before{content:'\73';} /* 's' */
.icon-twitter:before{content:'\74';} /* 't' */
.icon-facebook:before{content:'\66';} /* 'f' */
.icon-dribbble:before{content:'\64';} /* 'd' */
/*--------------------header--------------------*/
#header{
    width:100%;
    position:fixed;
    z-index:20;
}
#header .top-line{
    width:100%;
    height:88px; 
    position:absolute;
    background-color:#fff;
    box-shadow:0 1px 5px rgba(0,0,0,0.11);
    opacity:0.9;
	-moz-opacity:0.9;
	-khtml-opacity:0.9;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}
#header .logo{
    position:absolute;
    top:18px;
    left:12.8%;
    z-index:1;
}
#header .logo > a{
    outline:none;
}
#header .main-menu{
    float:right;
    margin:35px 13.55% 0 0;
}
#header .main-menu > ul > li{
    margin:0 0 0 3px;
    border:1px solid transparent;
    border-radius:3px;
    letter-spacing:0.5px;
    cursor:pointer;
}
#header .main-menu > ul > li:first-child{
    margin:0 11px 0 0;
}
#header .main-menu > ul > li.login{
    margin:0 0 0 28px;
    padding:0 9px 0 11px;
    border-radius:3px;
    background-color:#de6d6e;
}
#header .main-menu > ul > li.login span:before{
    margin:5px 0 0;
    color:#fff;
}
#header .main-menu > ul > li > a{
    padding:0 5px;
    font-size:1.7em;
    line-height:1.5em;
    letter-spacing:0.5px;
    color:#454545;
    text-decoration:none;
    outline:none;
    opacity:0.75;
	-moz-opacity:0.75;
	-khtml-opacity:0.75;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75);
}
#header .main-menu > ul > li.login > a{
    padding:0 3px;
    color:#fff;
    opacity:1;
	-moz-opacity:1;
	-khtml-opacity:1;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
#header .main-menu > ul > li:hover{
    border:1px solid #a4a1a1;
}
#header .main-menu > ul > li.login:hover{
    background-color:#d16b6b;
}
#header .mobile-menu{
    float:right;
    margin:29px 3% 25px 0;
    font-size:1.7em;
}
#header .mobile-menu > a.btn{
    min-width:160px;
    padding:6px 12px;
    text-align:left;
}
#header .mobile-menu > a.btn:active + ul,
#header .mobile-menu > a.btn:focus + ul,
#header .mobile-menu ul:hover{
    display:block;
}
#header .mobile-menu > a.btn > span.caret{
     float:right;
     margin-top:9px;
}
@media (max-width:991px){
    #header .logo{
        left:10px;
    }
}
@media (max-width:767px){
    #header{
        position:relative;
        clear:both;
        height:88px;
    }
}
/*------------------------------banner------------------------------*/
#banner{
    padding:15.1% 0 5.16%;
    position:relative;
    background:url(../images/bg_banner.jpg) center -1px no-repeat;
    background-size:100%;
}
#banner .decor{
    width:156px;
    height:151px;
    position:relative;
    margin:0 0 1.9% 44.2%;
}
#banner .decor > div{
    position:absolute;
    background-color:#fff;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity:0.5;
	opacity:0.5;
}
#banner .decor > div:hover{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75);
	-moz-opacity:0.75;
	-khtml-opacity:0.75;
	opacity:0.75;
}
#banner .decor > div.big{
    width:117px;
    height:117px;
    bottom:0;
    left:0;
}
#banner .decor > div.middle{
    width:92px;
    height:92px;
    top:0;
    right:5px;
}
#banner .decor > div.small{
    width:71px;
    height:71px;
    right:0;
    bottom:23px;
}
#banner .text{
    position:relative;
    color:#fff;
    text-shadow:0px 0px 13px rgba(0,0,0,0.22);
}
#banner .text > b{
    font-family:"alteHaasGroteskBold", Arial;
    font-size:6.9em;
    line-height:1em;
}
#banner .text > p{
    margin:0 0 0 3.2%;
    font-size:2.45em;
    line-height:1.4em;
}
@media (max-width: 1024px){
    #banner .decor{
        top:29%;
    }
    #banner .text{
        top:60%;
    }
}
@media (max-width: 767px){
    #banner .text{
        width:100%;
        top:30%;
    }
    #banner .text > b{
        font-size:3.5em;
    }
    #banner .text > p{
        font-size:1.4em;
    }
}
/*----------content---------*/
#content{
    padding:2.5% 0 2.1%;
}
#content .visual-block{
    padding:0;
    overflow:hidden;
}
#content .visual-block h1{
    margin:1.7% 1% 1.2% 0.5%;
    font-size:3.6em;
    color:#404040;
    text-shadow:-1px 0 #bfbfbf;
}
#content .visual-block p{
    margin:0 17% 2.3%;
    font-size:1.7em;
    line-height:1.3em;
}
#content .visual-block .item-row{
    padding:3.4% 9.8% 3.4% 8.9%;
}
#content .item{
    width:179px;
    height:179px;
    position:relative;
    border-radius:50%;
    color:#fff;
    cursor:pointer;
}
#content .item > div.base-bg{
    width:100%;
    position:absolute;
    padding-top:130px;
    font-size:1.7em;
    text-align:center;
}
#content .item > div.base-bg:before{
    width:100%;
    height:90px;
    display:block;
    position:absolute;
    top:34px;
    content:"";
    background:url(../images/things.png);
    background-image:url(../images/things.svg), none;
    background-repeat:no-repeat;
}
#content .item:hover > div.base-bg{
	opacity:0.5;
    -moz-opacity:0.5;
	-khtml-opacity:0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
#content .item > div.text{
    display:none;
    padding:49px 20px;
    font-size:1.2em;
    line-height:15px;
    text-align:center;
}
#content .item:hover > div.text{
    display:block;
}
#content .blue{
    background-color:#4eb9f4;
}
#content .blue > div.base-bg:before{
    background-position:47px 0;
}
#content .green{
    background-color:#6fc125;
}
#content .green > div.base-bg:before{
    background-position:46px -90px;
}
#content .red{
    background-color:#ff5649;
}
#content .red > div.base-bg:before{
    background-position:61px -180px;
}
#content .orange{
    background-color:#e48f23;
}
#content .orange > div.base-bg:before{
    background-position:53px -270px;
}
#content .shadow{
    border-bottom:1px solid #eeeeee;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.11);
}
#content .news{
    padding:0.7% 0 0 0;
}
#content .article{
    padding:1.1% 9% 3% 12.2%;
    overflow:hidden;
}
#content .article > div:last-child{
    padding-left:10px;
}
#content .article h2{
    font-size:2.9em;
    line-height:1.2em;
    letter-spacing:-1px;
    color:#404040;
}
#content .article img{
    float:right;
    margin-top:20px;
}
#content .article p{
    font-size:1.5em;
    color:#8b8b8b;
}
@media (max-width: 767px){
    #content .article img{
        float:none;
        margin:0 auto;
    }
}
@media (max-width:991px){
    #content .item{
        margin-top:5%;
    }
    #content .visual-block .item-row{
        padding-top:0;
    }
    #content .article{
        padding-right:9%;
        padding-left:9%;
    }
}
@media (min-width:1280px){
    #content .visual-block .item-row > div:first-child{
        padding-left:3px;
    }
    #content .visual-block .item-row > div:last-child{
        padding-right:3px;
    }
}
/*----------footer----------*/
#footer{
    padding:28px 0;
    overflow:hidden;
    background:url(../images/bg_footer.png) repeat;
    color:#8b8b8b;
    text-shadow:1px 0 #545355;
}
#footer .bottom-menu{
    padding:0 0 0 12.8%;
}
#footer .bottom-menu > div{
    margin:0 -57px 0 48px;
    padding:0;
}
#footer .bottom-menu > div:first-child{
    margin:0 -30px 0 0;
}
#footer .bottom-menu > div:last-child{
    margin-left:19px;
}
#footer .bottom-menu h4{
    margin:7px 0 16px 0;
    font-size:2em;
    color:#aeaeae;
    text-shadow:none;
}
#footer .bottom-menu ul > li{
    margin:0 0 1px 4px;
}
#footer .bottom-menu ul > li > a{
    font-size:1.5em;
    letter-spacing:0.1px;
    color:#8b8b8b;
    text-shadow:1px 0 #545355;
}
#footer .bottom-menu .social{
    width:52px;
    height:52px;
    float:left;
    margin:25px 25px 0 0;
    border-radius:50%;
    background-color:#696b6a;
    color:#2a2c2a;
    text-align:center;
    text-shadow:none;
    cursor:pointer;
}
#footer .bottom-menu .social:before{
    margin-top:9px;
    font-size:38px;
}
#footer .bottom-menu .social:hover{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
}
#footer .bottom-menu span{
    display:inline-block;
    margin:25px 0 0 0;
    font-size:1.5em;
}
@media (max-width: 991px){
    #footer .bottom-menu > div,
    #footer .bottom-menu > div:first-child,
    #footer .bottom-menu > div:last-child{
        margin:0;
        padding:0;
    }
}
/*--------------------------*/